.container{
    background-image:url('ps4-hard-drive-caddy-special-screw.jpg');
    background-repeat: no-repeat;
    height:50%;
    width: 100%;
    background-size: cover;
    }
.topleft{
    color:white;
    font-size:18px;
}
.navbar navbar-default{
    background-color:transparent;
    border-color:none;
    box-shadow: none;
}
h1{
    text-align: center;
    font-size: 18px;
    color:white;
}
.form-group{
    width:155px;
    margin:0 auto;
    display:inline-block;
}